p {
  margin: 20px 0 20px 0;
}

h1,
h2,
h3 {
  font-family: "Kalnia";
  margin: 10px 0 10px 0;
}

ol > li::marker {
  font-weight: bold;
}

hr {
  border-top: dashed 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 20px 0;
  padding-left: 10px;
}

ol + ul,
ol + ol,
ul + ul,
ul + ol {
  margin: 10px 0 20px 0;
}
